# Project-specific
*.tar.gz
devel*
results*
workflow/logs*
workflow/benchmark*
pipeline/config*/*.tsv
pipeline/workflow/logs*
pipeline/workflow/benchmarks*
resources
external
commands.sh
.snakemake

# Logs
*.log
logs/
benchmark

# Tags
*tags

# Mac specific
.DS_Store
.DS_Store?
*.DS_Store

# Python
__pycache__/
.ipynb_checkpoints/
*.egg-info/
.tool-versions
*.pyc

# Python test
*.pytest_cache
*.coverage
*.coverage*

# R
*.Rproj.user
*.Rproj
*.RData
renv.lock
activate.R
renv/
.Rprofile
.Renviron
.Rhistory
.Rproj.user
*.Rbuild
*.Rcheck
vignettes/*.html
vignettes/*.pdf
inst/doc

# Open cached files
*.m~
*.*swp
*.*swo
~$*.*pptx

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so
